/* HEAD */

h1 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: 'Handjet';
  font-weight: 300;
  font-size: 500%;
  color: #FFFFFF;
}

h2 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 100%;
  color: #FFFFFF;
}

/* NAVIGATION */

.topnav {
  background-color: #000000;
  overflow: hidden;
  margin-right: 15px;
}

.topnav a {
  float: right;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Handjet';
  font-weight: 300;
  font-size: 200%
}

.topnav a:hover {
  background-color: #000000;
  color: #E3A4F0;
}

.topnav a.active {
  background-color: #E3A4F0;
  color: white;
}

/* BODY */

body {
     background-color: black;
}

/* SECTIONS */

section:after {
    content: " ";
    display: block;
    clear: both;
}

section div.container img {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    border: 5px solid transparent;
    opacity: 1;
    transition: opacity .5s;
}

section div.container img:hover {
   opacity: 0.65; 
}

section {
    margin-bottom: 3%;
}

section h2 {
    text-align: center;
}

/* ABOUT SECTION */

p {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 80%;
  color: #FFFFFF;
}

.about-container{
display: grid;
float: center;
grid-template-columns: 1fr 1fr;
column-gap: 10px;
row-gap: 10px;
}

div.about-container img {
    width: 50%;
    float: center;
    box-sizing: border-box;
    border: 5px solid transparent;
    opacity: 1;
    transition: opacity .5s;
}
